<div class="card login-panel ui-fluid shadow-box ui-shadow-3">
    <div class="ui-g">
        <div class="ui-g-12">
            <img src="../../assets/layout/images/logohs.png" height="50px" alt="">
        </div>
        <div class="ui-g-12">
            <form [formGroup]="form">
                <div class="p-field">
                    <label for="email">Email</label>
                    <input id="email" type="text" formControlName='email' pInputText>
                </div>
                <div class="p-field">
                    <label for="token">Token</label>
                    <input id="token" type="text" formControlName='token' pInputText>
                </div>
                <div class="ui-g-12">
                    <button type="submit" pButton  (click)="login()" class="ui-button-success"
                        label="Entrar" [disabled]="form.invalid || submit"></button>
                    <a [routerLink]="[ '/cadastro' ]"><button type="button" pButton class="ui-button-primary"
                            label="Criar Conta">
                        </button></a>
                </div>
            </form>
        </div>
    </div>
</div>