<div class="p-grid p-justify-center p-align-center vertical-container">
    <p-card  styleClass="ui-shadow-4">
        <h1>Login</h1>
        <form [formGroup]="form" [style]="{'padding': '5px'}">
            <div class="ui-fluid">
                <div class="p-field">
                    <label for="email">Email</label>
                    <input id="email" type="text" formControlName='email' pInputText>
                </div>
                <div class="p-field">
                    <label for="token">Token</label>
                    <input id="token" type="text" formControlName='token' pInputText>
                </div>
            </div>
            <button type="submit" pButton icon="pi pi-check" (click)="login()" class="ui-button-success" label="Salvar"
                [disabled]="form.invalid || submit"></button>
                <a [routerLink]="[ '/cadastro' ]"><button type="button" pButton class="ui-button-primary" label="Registrar">
                </button></a>
        </form>
    </p-card>
</div>
